body {
    margin-top: 80px;
    padding: 0px;
    background-color: #F1E8E3;
}

section {
    /* min-height: 100vw; */
    background-color: #DDD0D8;
    /* margin-left: auto;
    margin-right: auto; */
    margin-bottom: -10%;
    margin-top: 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
   background-color: #F1E8E3;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background: #9E788F;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9CA57A;
}
/* Home Section */
.heading {
    font-family: 'Playfair Display',
        serif;
    font-weight: bold;
    color: #9E788F;
    letter-spacing: 2px;
    font-size: 53.5px;
    margin-top: 200px;
}

.sub-head {
    font-family: 'Chivo', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: -30px;
    text-align: center;
}

.container {
    /* width: auto; */
    /* display: inline-block; */
    /* float: left; */
    overflow: auto; 
    margin: 0px 10%; 

}
.container img {
    width: 60%;
    float: left; 
    /* Will shrink image to 30% of its original width */
    height: auto;
    /* float: left; */
}


#home {
    background-color: #F1E8E3;
    margin: 0;
}

/* Navigation Bar */

nav {
    font-family: 'Playfair Display', serif;
    font-weight: medium;
    color: #9E788F;
    font-size: 20px;
}

header {
    background-color: #F1E8E3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

/* ------------- ABOUT SECTION -------------*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

#about {
    background-color: #EBDED7;
    padding: 60px; 
    min-height: 100vh;
    margin-bottom: 10px;
}

#about h1 {
    color: #9CA57A; 
    text-align: center;
}

#about-img {
    height: 460px; 
    width: 300px;
    border-radius: 4px;
    /* border: solid #9CA57A 5px;  */
    box-shadow: 12px 12px 1px #9CA57A;
    border-top: 12px solid #e5e5e5;
    overflow-y: hidden;
    margin: 40px;
    margin-top: 20px;
}

.img-container {
    position: relative;
    /* width: 50%; */
}



.image {
    opacity: 1;
    display: block;
    /* width: 100%; */
    /* height: auto; */
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-container:hover .image {
    opacity: 0.3;
}

.img-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #9CA57A;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: Chivo, sans-serif;
    
}

#ide a {
    text-decoration: underline;
}

#ide {
    margin: 40px;
    margin-top: 20px;
    padding: 30px;
    overflow-y: auto;
    line-height: 22px;
    height: 400px;
    width: 500px;
    font-size: 90%;
    font-family: Monaco, monospace;
    border-top: 12px solid #e5e5e5;
    border-radius: 4px;
    background-color: #2a2d34;
    box-shadow: 12px 12px 1px #9CA57A;
}
#ide::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#ide::-webkit-scrollbar-track {
    background: #2a2d34;
    border-radius: 100px;
}

/* Handle */
#ide::-webkit-scrollbar-thumb {
    background: #9E788F;
    border-radius: 100px;
}

/* Handle on hover */
#ide::-webkit-scrollbar-thumb:hover {
    background: #555;
}
ul {
    margin: 0;
    padding-left: 24px;
}

.first-color {
    color: #ac78c2;
}

.second-color {
    color: #c5c8c6;
}

.third-color {
    color: #5888ca;
}

.fourth-color {
    color: #f0c674;
}

.fifth-color {
    color: #9CA57A;
}

/* ------------- EDUCATION SECTION -------------*/

/* Background color not applying here, added to section tag */
​#education {
    background-color: #EBDED7;
    /* padding: 60px; */
    min-height: 50vh;
}

#education h1 {
    color: #354C61;
    text-align: center;
}

#education h2 {
    color: #354C61;
    font-size: 30px;
    text-align: center;
    /* margin-left: 20%; */
    margin-top: 50px;
}

#education h4 {
    color: #354C61;
    font-family: Chivo, sans-serif;
    font-style: italic;
}

#education ul, h4, h5 {
    font-family: Chivo, sans-serif;
    font-weight: lighter;
}

.school-info {
    margin-right: 20%;
    margin-left: 20%;
    /* line-height: 2px; */
    text-align: center;
}

.school-info h4 {
    font-size: 20px; 
    text-align: center;
}

.school-info h5 {
    font-size: 16px; 
    font-weight: lighter
}

.course-topic {
    margin-top: 30px; 
    line-height: 25px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    margin-bottom: 50px;
}

.img-gallery {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.img-gallery img {
    width: 250px; 
    height: 300px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid #354C61 2px; 
    

   
    
}

.edu-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

/* .container > div {
    flex: 1;
} */

.course-container {
    margin-left: 0.9%;
    margin-right: 0.9%;
}

#updated {
    font-family: 'Chivo', sans-serif;
    font-style: italic;
    font-weight: lighter;
}

/* ------------- PROJECTS SECTION -------------*/
#projects {
    background-color: #EBDED7;
}

#projects .heading {
    text-align: center;
    padding-top: 10%;
}

.each-project {
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 0% 0% 4% 4%;
    /* margin-left: 5px; 
    margin-right: 5px; */
}

.each-project h2 {
    font-family: 'Chivo', sans-serif;
    font-style: italic;
    /* position: absolute; */
    justify-content: center;
    font-size: large;
    text-align: center;
    
}


.proj-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 250px;
    margin-left: -0.10%;

    background: #F1E8E3;
    /* color: #fff; */
    visibility: hidden;
    opacity: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .4s, visibility .4s;
}

.each-project:hover .proj-description {
    visibility: visible;
    opacity: 0.9;
}

.proj-description:hover {
    opacity: 1;
}

.img-description {
    transition: .5s;
    color: black;
    text-align: center;
    /* margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px; */
}


.each-project p {
    font-family: 'Chivo', sans-serif; 
}
.each-project img {
    width: 150px; 
    height: 150px;
    margin: 0; 
    position: absolute;
    top:50%; 
    left: 50%;
    margin-right: -50%; 
    transform: translate(-50%, -50%);
}
/* Row One */
#loa {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

#enigma {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#gitlet {
    background-color: #395D93;
    border: solid #121E30 8px;
}

/* Row Two */
#philphix {
    background-color: #A4508B;
    border: solid #A72A82 8px;
}

#matrix {
    background-color: #B37196;
    border: solid #B1548C 8px;
}

#cpu {
    background-color: #C191A1;
    border: solid #B4637E 8px;
}


/* Row Three */
#speed-up {
    background-color: #395D93;
    border: solid #121E30 8px;
}

#satellite {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#file-share {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

/* Row Four */
#hack-web {
    background-color: #C191A1;
    border: solid #B4637E 8px;
}

#traffic {
    background-color: #B37196;
    border: solid #B1548C 8px;
}
#ants-bees {
    background-color: #A4508B;
    border: solid #A72A82 8px;
}

/* Row Five */
#cats {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

#humap {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#personal-web {
    background-color: #395D93;
    border: solid #121E30 8px;
}