/* Home Section */
.heading {
    font-family: 'Playfair Display',
        serif;
    font-weight: bold;
    color: #9E788F;
    letter-spacing: 2px;
    font-size: 53.5px;
    margin-top: 200px;
}

.sub-head {
    font-family: 'Chivo', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: -30px;
    text-align: center;
}

.container {
    /* width: auto; */
    /* display: inline-block; */
    /* float: left; */
    overflow: auto; 
    margin: 0px 10%; 

}
.container img {
    width: 60%;
    float: left; 
    /* Will shrink image to 30% of its original width */
    height: auto;
    /* float: left; */
}


#home {
    background-color: #F1E8E3;
    margin: 0;
}

/* Navigation Bar */
body {
    margin-top: 80px;
    padding: 30px;
}

nav {
    font-family: 'Playfair Display', serif;
    font-weight: medium;
    color: #9E788F;
    font-size: 20px;
}

header {
    background-color: #F1E8E3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

#about {
    background-color: #EBDED7;
    /* margin: 0; */
}

#about h1 {
    color: #9CA57A; 
    text-align: center;
}

​#education {
    background-color: #DDD0D8;
}


/* ------------- PROJECTS SECTION -------------*/
#projects {
    background-color: #EBDED7;
}

.each-project {
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
}

.each-project h2 {
    font-family: 'Chivo', sans-serif;
    font-style: italic;
}

.each-project p {
    font-family: 'Chivo', sans-serif; 
}
.each-project img {
    width: 150px; 
    height: 150px;
}
/* Row One */
#loa {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

#enigma {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#gitlet {
    background-color: #395D93;
    border: solid #121E30 8px;
}

/* Row Two */
#philphix {
    background-color: #A4508B;
    border: solid #A72A82 8px;
}

#matrix {
    background-color: #B37196;
    border: solid #B1548C 8px;
}

#cpu {
    background-color: #C191A1;
    border: solid #B4637E 8px;
}


/* Row Three */
#speed-up {
    background-color: #395D93;
    border: solid #121E30 8px;
}

#satellite {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#file-share {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

/* Row Four */
#hack-web {
    background-color: #C191A1;
    border: solid #B4637E 8px;
}

#traffic {
    background-color: #B37196;
    border: solid #B1548C 8px;
}
#ants-bees {
    background-color: #A4508B;
    border: solid #A72A82 8px;
}

/* Row Five */
#cats {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

#humap {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#personal-web {
    background-color: #395D93;
    border: solid #121E30 8px;
}