body {
    margin-top: 80px;
    padding: 0px;
    background-color: #F1E8E3;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #9E788F;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover {
    background: #9CA57A;
}

/* ------------- HOME SECTION -------------*/
.heading {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #9E788F;
    letter-spacing: 2px;
    font-size: 53.5px;
}

.sub-head {
    font-family: 'Chivo', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    margin-top: -30px;
    text-align: center;
}

.row {
     flex-direction: row;
 }

.container {
    overflow: auto; 
    margin: 0px 10%; 

}

#collage {
    width: 55%;
    float: left; 
    height: auto;
}

#home {
    background-color: #F1E8E3;
    height: 100vh;
}

/* Navigation Bar */
#nav {
    background-color: #F1E8E3;
    position: fixed;
    top: -70px;
    width: 100%;
    transition: top 0.4s;
    left: 0%;
    right: 0%;
    z-index: 1;
    box-shadow: 1px 1px 5px #9E788F;
}

#nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #9E788F;
    letter-spacing: 2px;
    font-style: normal;
    font-size: 20px;
    padding: 1%;
}

#nav a:hover {
    background-color: #9ca481;
    color: #F1E8E3;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* Animated Arrow */
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 80px;

}

.arrows path {
    stroke: #9E788F;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

header {
    background-color: #F1E8E3;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
}

header * {
    display: inline;
}

header li {
    margin: 20px;
}

/* ------------- ABOUT SECTION -------------*/

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

#about {
    background-color: #EBDED7;
    padding: 60px; 
    min-height: 100vh;
    margin-bottom: 10px;
}

#about h1 {
    color: #9CA57A; 
    text-align: center;
    margin-top: 2%;
}

#about-img {
    height: 510px; 
    width: 300px;
    border-radius: 4px;
    box-shadow: 12px 12px 1px #9CA57A;
    border-top: 12px solid #e5e5e5;
    overflow-y: hidden;
    margin: 40px;
    margin-top: 20px;

    
}

.img-container {
    position: relative;
}

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.img-container:hover .image {
    opacity: 0.3;
}

.img-container:hover .middle {
    opacity: 1;
}

.text {
    background-color: #9CA57A;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
    font-family: Chivo, sans-serif;
    
}

#ide a {
    text-decoration: underline;
    font-family: Monaco, monospace;
    font-style: normal;
}

#ide {
    margin: 40px;
    margin-top: 20px;
    padding: 30px;
    overflow-y: auto;
    line-height: 22px;
    height: 450px;
    width: 400px;
    font-size: 90%;
    font-family: Monaco, monospace;
    border-top: 12px solid #e5e5e5;
    border-radius: 4px;
    background-color: #2a2d34;
    box-shadow: 12px 12px 1px #9CA57A;
}

#ide::-webkit-scrollbar {
    width: 8px;
}

/* Track */
#ide::-webkit-scrollbar-track {
    background: #2a2d34;
    border-radius: 100px;
}

/* Handle */
#ide::-webkit-scrollbar-thumb {
    background: #9E788F;
    border-radius: 100px;
}

/* Handle on hover */
#ide::-webkit-scrollbar-thumb:hover {
    background: #555;
}

ul {
    margin: 0;
    padding-left: 24px;
}

.first-color {
    color: #ac78c2;
}

.second-color {
    color: #c5c8c6;
}

.third-color {
    color: #5888ca;
}

.fourth-color {
    color: #f0c674;
}

.fifth-color {
    color: #9CA57A;
}

/* ------------- EDUCATION SECTION -------------*/
​#education {
    background-color: #EBDED7;
    min-height: 50vh;
}

#education h1 {
    color: #354C61;
    text-align: center;
    padding-top: 2%;
}

#education h2 {
    color: #354C61;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}

#education h4 {
    color: #354C61;
    font-family: Chivo, sans-serif;
    font-style: italic;
}

#education button {
    color: #354C61;
    font-family: Chivo, sans-serif;
    font-style: italic; 
    font-size: 12;
    padding: 10px 12px;
    background-color: #f1f1f1;
    cursor: pointer;
    border-radius: 4px;
    margin: 4px;
    transition: 0.3s;
}

#education button:hover {
    background-color: #ddd;
}

#education button.active {
    background-color: #61759f;
    color: white;
}


#education ul, h4, h5 {
    font-family: Chivo, sans-serif;
    font-weight: lighter;
}

.school-info {
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
}

.school-info h4 {
    font-size: 20px; 
    text-align: center;
}

.school-info h5 {
    font-size: 16px; 
    font-weight: lighter
}

.course-topic {
    line-height: 25px;
    margin-left: 8%;
    margin-right: 8%;
    justify-content: center;
    margin-bottom: 30px;
}

.course-topic h4 {
    margin-bottom: 2px;
}

#myDIV, #myDIV2, #myDIV3, #myDIV4 { 
    display: none
}

/* .img-gallery {
    display: flex; 
    flex-direction: column;
    justify-content: center;
} */

/* .img-gallery img {
    width: 250px; 
    height: 300px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: solid #354C61 2px; 
} */

.edu-container {
    display: flex; 
    flex-direction: row;
    justify-content: center;
}

.course-container {
    margin-left: 1%;
    margin-right: 1%;
}

#updated {
    font-family: 'Chivo', sans-serif;
    font-style: italic;
    font-weight: lighter;
}

/* ------------- PROJECTS SECTION -------------*/
#projects {
    background-color: #EBDED7;
}

#projects .heading {
    text-align: center;
    padding-top: 5%;
}

#disc {
    align-items: center;
    margin-right: 20%;
    margin-left: 20%;
    font-family: 'Chivo', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-align: center;
    margin-top: -1%;
    margin-bottom: 3%;
}

.button-container {
    text-align: center;
    margin-bottom: 2%;
    margin-top: -1%;
}

.button-container button {
    border: none;
    outline: none;
    padding: 8px 12px;
    background-color: #f1f1f1;
    font-family: 'Chivo', sans-serif;
    color: #9E788F;
    cursor: pointer;
    border-radius: 4px;
    margin: 4px;
    transition: 0.3s;
}

.button-container button:hover {
    background-color: #ddd;
}

.button-container button.active {
    background-color: #474d5a;
    color: white;
}


.each-project {
    margin-bottom: 20px;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 0% 0% 5% 5%;
}

.each-project h2, a{
    font-family: 'Chivo', sans-serif;
    font-style: italic;
    justify-content: center;
    font-size: large;
    text-align: center;
    color: black;
}

.proj-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 250px;
    margin-left: -0.10%;

    background: #F1E8E3;
    visibility: hidden;
    opacity: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .4s, visibility .4s;
}

.each-project:hover .proj-description {
    visibility: visible;
    opacity: 0.92;
}

.proj-description:hover {
    opacity: 1;
}

.img-description {
    transition: .5s;
    color: black;
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
}


.each-project p {
    font-family: 'Chivo', sans-serif; 
    font-size: 15px;
    font-weight: lighter;
    line-height: normal;
}


.each-project i {
    font-family: 'Chivo', sans-serif;
    font-size: smaller;
    font-weight: lighter;
}
.each-project img {
    width: 150px; 
    height: 150px;
    margin: 0; 
    position: absolute;
    top:50%; 
    left: 50%;
    margin-right: -50%; 
    transform: translate(-50%, -50%);
}

/* Row One */
#loa {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

#enigma {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#gitlet {
    background-color: #395D93;
    border: solid #121E30 8px;
}

/* Row Two */
#philphix {
    background-color: #A4508B;
    border: solid #A72A82 8px;
}

#philphix p {
    font-size: smaller;
}

#matrix {
    background-color: #B37196;
    border: solid #B1548C 8px;
}

#matrix p {
    font-size: smaller;
}

#cpu {
    background-color: #C191A1;
    border: solid #B4637E 8px;
}

#cpu p {
    font-size: smaller;
}

/* Row Three */
#speed-up {
    background-color: #395D93;
    border: solid #121E30 8px;
}

#speed-up p {
    font-size: smaller; 
}

#satellite {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#satellite p, a {
    font-size: smaller;
}

#file-share {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

#file-share p, a {
    font-size: smaller;
}

/* Row Four */
#hack-web {
    background-color: #C191A1;
    border: solid #B4637E 8px;
}

#hack-web h2 > a{
    font-size: large;
}

#traffic {
    background-color: #B37196;
    border: solid #B1548C 8px;
}

#traffic p {
    font-size: smaller;
}

#traffic h2 {
    font-size: smaller;
}

#ants-bees {
    background-color: #A4508B;
    border: solid #A72A82 8px;
}

#ants-bees h2 > a {
    font-size: large;
}

/* Row Five */
#cats {
    background-color: #9EBC9E;
    border: solid #849984 8px;
}

#cats h2 > a {
    font-size: large;
}

#humap {
    background-color: #4B6858;
    border: solid #35493E 8px;
}

#humap h2 > a {
    font-size: large;
}

#personal-web {
    background-color: #395D93;
    border: solid #121E30 8px;
}

#personal-web h2 > a {
    font-size: large; 
}
